{% extends 'dashboard_base.html' %}

{% block content %}
<section class="container pt-4">
{% include 'dashboard_search_with_detail.html' %}
<hr>
</section>

<section class="container">

{% for sube in subes %}
    <div class="row border-bottom border-info" style="height: 220px">
        <div class="m-auto" style="width: 20px" >
            <h3 >
            {{ forloop.counter }}.
            </h3>
        </div>
        <div class="col m-auto">
            <h3>{{ sube.name }}</h3>
            <h3>{{ sube.performance.get_total_metric }}</h3>
        </div>
        <div class="col d-flex m-auto text-center justify-content-end" >
            <div class="border-end pe-3" style="height: 150px;width: 150px">
                <canvas  id="sube_pasta_grafik_{{ forloop.counter }}"></canvas>
            </div>
            <div class="ps-3" style="height: 150px;width: 300px">
                <canvas id="sube_cizgi_grafik_{{ forloop.counter }}"></canvas>
            </div>
        </div>

    </div>
{% endfor %}
</section>

{#<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.2.1/chart.min.js" ></script>#}
{% load static %}
    <script src="{% static 'Chart.js' %}" ></script>

<script>
    const OFFICE_DATA = {{ None }}
    const chart_config = {
        plugins: {
            legend: {
                display: false
            },
            colors: {
                enabled: false,
                forceOverride: true
            }
        },
        scales: {
            y: {
                display: false,
                beginAtZero: false
            }
        }
        }
    const ctx = document.getElementById('sube_pasta_grafik_1');
    const ctx_2 = document.getElementById('sube_cizgi_grafik_1');
    new Chart(ctx, {
    type: 'pie',
    {#type: 'polarArea',#}
    data: {
    labels: ['içten', 'saygın', 'güçlü', 'yetkin','heyecan'],

    datasets: [{
        {#label: '# Yorum',#}
        data: [25,34,50,75,80],
        backgroundColor: [
        'rgb(4,129,155)',
        'rgb(14,176,0)',
        'rgb(203,3,6)',
        'rgb(231,107,19)',
        'rgb(255,206,0)'
        ],
        borderWidth: 1,
    }]
    },
    options: chart_config
    });
    new Chart(ctx_2, {
    type: 'bar',
    {#type: 'polarArea',#}
    data: {
    labels: ['içten', 'saygın', 'güçlü', 'yetkin','heyecan'],

    datasets: [{
        {#label: '# Yorum',#}
        data: [25,34,50,75,80],
        backgroundColor: [
        'rgb(4,129,155)',
        'rgb(14,176,0)',
        'rgb(203,3,6)',
        'rgb(231,107,19)',
        'rgb(255,206,0)'
        ],
        borderWidth: 1,
    }]
    },
    {#options: chart_config#}
    });
</script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

{% endblock %}
